<div class="row content_window" >
<ul class="breadcrumbs add_bar"> 
	<li class="current"><a href="#">repositories</a></li> 
</ul>

<p>A repository is a customized knowledge bank that is dedicated to store all sorts of different information about a particular topic. It brings you Right information in Right way!
Explore and contribute to repositories! Go on have fun!!!</p>
<div class="large-5 medium-5 small-10 columns" style="background-color:#f2f2f2;margin-right:15px;margin-bottom:15px">
<a href="/repo/algorithm"><h6 style="margin-bottom:0px">Algorithms</h6></a>
<hr>
<p style="font-size: 12px">
	A beautiful and organized repository, customized for algorithms. It has articles, descriptions, codes, videos - all you need :)                         
</p>
<p style="text-align: right;font-size:12px">
                           445 algorithms  <br>
                           170 Contributors<br>     
                           70 People tracking<br>
                           700 Reading
</p>
</div>
<div class="large-5 medium-5 small-10 columns end" style="background-color:#f2f2f2">
<h6 style="margin-bottom:0px">Operating Systems</h6>
<hr>
<p style="font-size: 12px">
A beautiful and organized repository, customized for various concepts and techniques of Operating Systems.                          
</p>
<p style="text-align: right;font-size:12px">
                           300 Entities  <br>
                           10 Contributors   <br>  
                           20 People tracking<br>
                           500 Reading
</p>

</div>

</div>


<br>
<%if @query%>
<h2><%=@query%></h2>
</hr>
<%end%>
