{{#if value}}
<div class="editor panel text_container" contenteditable="true">{{{value}}}</div>
{{else}}
<div class="editor panel text_container" contenteditable="true">Start typing here..</div>
{{/if}}