<br>
<br>
<div class="row" id = "rowcss">
  <div class="small-12 columns">
  <h4>Repositories</h4>
  <hr>
  <br>
  <div class="row">
  <div class="small-12 large-6 columns">
  <div class="small panel radius"> 
  <h5>Algorithm</h5> 
  <p>This is a huge collection of algorithms. It contains articles, videos, definition, pseudocode and many other things.
  </p> 
  <span class="label">445 entities</span>
  <span class="success label">2045 duples</span>
  </div>
  </div>

  <div class="small-12 large-6 columns">
  <div class="small panel radius"> 
  <h5>Operating System</h5> 
  <p>It contains numerous concepts related to Operating system. It contains articles, videos, lectures, definitions etc.  </p> 
  <span class="label">101 entities</span>
  <span class="success label">985 duples</span>
  </div>
  </div>
  
  <div class="small-12 large-6 columns end">
  <div class="small panel radius"> 
  <h5>Operating System</h5> 
  <p>It contains numerous concepts related to Operating system. It contains articles, videos, lectures, definitions etc.
  </p> 
  <span class="label">101 entities</span>
  <span class="success label">985 duples</span>
  </div>
  </div>


  </div>
  </div>
</div>

<br><br><br><br>


<div class="row" id = "rowcss">
  <div class="small-12 columns">
  <h4>Lists</h4>
  <hr>
  <br>
  
  <div class="row">

  <div class="small-12 large-6 columns">
  <div class="small panel callout radius"> 
  <h5>Must Know algorithms</h5> 
  <span class="label">71 entities</span>
  </div>
  </div>

  <div class="small-12 large-6 columns">
  <div class="small panel callout radius"> 
  <h5>Awesome OS Concepts</h5> 
  <span class="label">71 entities</span>
  </div>
  </div>


  </div>
  </div>
</div>


<br>
<br>
<br>



<div class="row" id = "rowcss">
  <div class="small-12 columns">
  <h4>Entities</h4>
  <hr>

  <ul class="side-nav"> 
  <li><a href="#">Bubble sort</a></li> 
  <li><a href="#">Insertion sort</a></li> 
  <li><a href="#">Kd-tree</a></li> 
  <li><a href="#">Pipes</a></li> 
  </ul>  
  </div>
</div>


<br>
<br>
<br>



<div class="row" id = "rowcss">
  <div class="small-12 columns">
  <h4>Duples</h4>
  <hr>
  <br>
  <span class="secondary label">Passport No</span>
  <span class="secondary label">SBI account</span>
  <span class="secondary label">EEL 701 lecture 1</span>
</div>
</div>


<br>
<br>
<br>
<br>
<br>


<div class="row" id = "rowcss">
	<div class="small-12 medium-12 large-12 columns" style="margin-bottom:1.5rem">
		<ul class="breadcrumbs" style="border:0px;background-color:#fff;margin-bottom:0.5rem;"> 
			<li><a href="#">DQ</a></li> 
			<li><a href="#">Algorithms</a></li> 
			<li><a href="#">Sequence sorting</a></li> 
			<li class="current"><a href="#">Bubble sort</a></li> 
		</ul>
	<hr>
	</div>

	<div class="small-12 large-3 columns">
		<div class = "callout panel" style="margin-top:2rem;border:0px;padding:1rem;">Add Knowledge</div>
		<div class = "panel" id="entitynav">Description</div>
		<div class = "panel" id="entitynav">Algorithm</div>
		<div class = "panel" id="entitynav">Pseudocode</div>
		<div class = "panel" style="border:0px;margin-top:1.25rem;padding:1rem;color:#fff;background-color:#ddd";"><b>Under Review</b></div>
	</div>
	<div class="small-12 large-9 columns">
		<div style="margin-bottom:2rem;">
		<ul class="button-group" style="float:right">
			<li><a href="#" class="button tiny"><</a></li>
			<li><a href="#" class="button tiny">></a></li>
		</ul>
		</div>
		<div class="panel" style="font-family:chaparral-pro,serif;border-bottom:0px;border-right:0px;border-top:0px;background-color:#fff;">	 
		<p><b>Boosting</b> is a <a href="http://en.wikipedia.org/wiki/Machine_learning">machine learning</a> <a href="http://en.wikipedia.org/wiki/Meta-algorithm">meta-algorithm</a> for reducing <a href="http://en.wikipedia.org/wiki/Supervised_learning#Bias-variance_tradeoff">bias</a> in <a href="http://en.wikipedia.org/wiki/Supervised_learning">supervised learning</a>. Boosting is based on the question posed by Kearns:<sup><a href="http://en.wikipedia.org/wiki/#cite_note-Kearns88-1"><span>[</span>1<span>]</span></a></sup> Can a set of <b>weak learners</b> create a single <b>strong learner</b>? A weak learner is defined to be a classifier which is only slightly correlated with the true classification (it can label examples better than random guessing). In contrast, a strong learner is a classifier that is arbitrarily well-correlated with the true classification.</p> 
		<p>When first introduced, the hypothesis boosting problem simply referred to the process of turning a weak learner into a strong learner. "Informally, [the hypothesis boosting] problem asks whether an efficient learning algorithm […] that outputs a hypothesis whose performance is only slightly better than random guessing [i.e. a weak learner] implies the existence of an efficient algorithm that outputs an hypothesis of arbitrary accuracy [i.e. a strong learner]."<sup><a href="http://en.wikipedia.org/wiki/#cite_note-Kearns88-1"><span>[</span>1<span>]</span></a></sup> Algorithms that achieve hypothesis boosting quickly became simply known as "boosting". Freund and Schapire's arcing (Adapt[at]ive Resampling and Combining),<sup><a href="http://en.wikipedia.org/wiki/#cite_note-3"><span>[</span>3<span>]</span></a></sup> as a general technique, is more or less synonymous with boosting.<sup><a href="http://en.wikipedia.org/wiki/#cite_note-4"><span>[</span>4<span>]</span></a></sup></p>
	
	
		</div>
	</div>
</div>  


<br>
<br>
<br>
<br>





<div class="row" id = "rowcss">
	<div class="small-12 large-9 columns">
	<h4>My Contribution Activity</h4>
	<hr>
	<br>
  <div class="row collapse">

  <div class="small-12 large-12 columns">
  <div class="panel" id="entitynav"> 
  <p>Added aricle to </a href="#">repo/algorithm/sequence sorting/bubble sort</a></p> 
  <span class="round alert label">Under Review</span>
  </div>
  </div>

  <div class="small-12 large-12 columns">
  <div class="panel" id="entitynav"> 
  <p>Added definition to </a href="#">repo/algorithm/sequence sorting/insertion sort</a></p> 
  <span class="round success label">Published</span>
  </div>
  </div>

  <div class="small-12 large-12 columns">
  <div class="panel" id="entitynav"> 
  <p>Added entity Kalman filter to repo/algorithm</p> 
  <span class="round success label">Published</span>
  </div>
  </div>

  <div class="small-12 large-12 columns">
  <div class="panel" id="entitynav"> 
  <p>Created entity Kalman filter in myspace</p> 
  <span class="round success label">Published</span>
  </div>
  </div>
  
      
  </div>

	</div>

	<div class="small-12 large-3 columns">
	</div>

</div>



<br>
<br>
<br>
<br>


<div class="row" id = "rowcss">
	<div class="small-12 large-9 columns">
	<h4>Shared bin</h4>
	<hr>
	<br>
  <div class="row collapse">

  <div class="small-12 large-12 columns">
  <div class="panel" id="entitynav"> 
  <p>Added aricle to </a href="#">repo/algorithm/sequence sorting/bubble sort</a></p> 
  <span class="round alert label">Under Review</span>
  </div>
  </div>

  <div class="small-12 large-12 columns">
  <div class="panel" id="entitynav"> 
  <p>Added definition to </a href="#">repo/algorithm/sequence sorting/insertion sort</a></p> 
  <span class="round success label">Published</span>
  </div>
  </div>

      
  </div>

	</div>

	<div class="small-12 large-3 columns">
	</div>

</div>
