<div class=" content_window">
<ul class="breadcrumbs add_bar"> 
	<li><a href="/">repositories</a></li> 
	<li class="current"><a href="#"><%=@repo%></a></li> 
</ul>
<div class="row explorer" data-equalizer>
<div class="large-4 medium-5 columns side-nav explorer_column" data-equalizer-watch style="padding:0px;">

<ul class="side-nav explorer_column_s">
	<li><a href="#"><span class="nav_icon1 nav_folder"></span>Sequence Sorting</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_folder"></span>Graph Algorithms</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_folder"></span>Machine Learning</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_folder"></span>Optimization Algorithms</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_folder"></span>Tree</a></li> 	

</ul>
</div>
<div class="large-4 medium-5 columns end explorer_column" data-equalizer-watch>
<ul class="side-nav explorer_column_s" >
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Bubble Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Selection Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Insertion Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Quick Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Merge Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Bubble Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Selection Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Insertion Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Quick Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Merge Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Bubble Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Selection Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Insertion Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Quick Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Merge Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Bubble Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Selection Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Insertion Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Quick Sort</a></li> 	
	<li><a href="#"><span class="nav_icon1 nav_entity"></span>Merge Sort</a></li> 	

</ul>
</div>
</div>
</div>	
<style>
.explorer_column_s{
	padding: 0px;
}
.explorer_column_s li a{
	line-height: 26px;
}
.nav_icon1{
 width:20px; 
   height:20px;
   margin: 3px;
   margin-right: 6px;
   display: block;
   float: left;
	
}
.nav_folder{
	
  	background: url(<%= asset_path 'folder.png' %>) left top;

}
.nav_entity{
	
 	background: url(<%= asset_path 'entity.png' %>) left top;

}
.explorer_column_s li a:hover:after {
    content: url(<%= asset_path 'arrow_right.png' %>);
    float: right;
    display: block;
   width:20px; 
   height:20px;
   margin-top: 2px;
}
.explorer_column{
	border-right: 1px solid #dedede;
}
</style>
