{{#view App.ContentView}}

<div class="row">
<div class="large-3 columns side-nav " >
  	{{partial "partials/entitypagenav"}}
</div>
<div class="large-9 columns ">
{{#ifeq controller.item "add"}}
	{{partial "partials/entitypagecommit"}}
{{/ifeq}}
 {{#ifneq controller.item "add"}}
 	{{partial "partials/entitypagecontent"}}

{{/ifneq}}

</div>
</div>
{{/view}}
