{{#view App.ContentView}}

<div class="row">
<div class="large-3 columns side-nav " >
  	{{partial "partials/entitypagentnav"}}
</div>
<div class="large-9 columns ">
	{{partial "partials/entitypagecommit"}}
	{{partial "partials/entitypagecontent"}}
</div>
</div>
{{/view}}
