<div class="panel callout entitynavbutton"{{action addK}}>
	Add Knowledge
</div>
{{#each controller.tiles}}
{{!#view App.ContentTabsView }}
	{{!unUnderscore tile_title}}
{{!/view}}
{{#link-to 'repo' tile_url}}
<div class="panel entitynavbutton">{{tile_title}}</div>
{{/link-to}}

{{/each}}
