	<ul class="side-nav explorer_column_s" >
		{{#each controller.list}}
		<li>
			<span class="nav_icon1 nav_entity"></span>		
			{{#link-to 'list' url}}
				{{name}}
			{{/link-to}}
		</li>
		{{/each}}
	</ul>

