
<ul class="off-canvas-list"> 
	<li id="logo">{{#link-to 'index'}}daqwest<span style="margin-top:0px;margin-left:2px;font-size:0.5em;position:fixed;">α</span>{{/link-to}}</li>
	<li style="height: 60px;">
	<span class="nav_icon nav_icon_user"> <img {{bind-attr src=currentUser.uimage_s}} alt="photo"></span><span style="line-height: 40px;color: rgba(255,255,255,0.7);">{{currentUser.name}}</span>
	</li> 
	<li>{{#link-to 'repos'}}<span class="nav_icon nav_icon_repo"></span>Repositories{{/link-to}}</li> 
	<li>{{#link-to 'lists'}}<span class="nav_icon nav_icon_flow"></span>Lists{{/link-to}}</li> 
	<li><a href="/signout"><span class="nav_icon nav_icon_logout"></span>Signout</a></li>
	<li><a {{action feedback}}><span class="nav_icon nav_icon_contri"></span>Feedback</a> </li> 
</ul>

<style>
.nav_icon_user{
}
</style>