
<ul class="off-canvas-list"> 
	<li><a href="" id="logo">daqwest</a></li>
	<li style="height: 60px;">{{#link-to 'index'}}
	<span class="nav_icon nav_icon_user"> <img {{bind-attr src=currentUser.uimage_s}} alt="photo"></span><span style="line-height: 40px;">{{currentUser.name}}</span>
	{{/link-to}}
	</li> 
	<li>{{#link-to 'repos'}}<span class="nav_icon nav_icon_repo"></span>Repositories{{/link-to}}</li> 
	<li>{{#link-to 'lists'}}<span class="nav_icon nav_icon_flow"></span>Lists{{/link-to}}</li> 
	<li><a href="/signout"><span class="nav_icon nav_icon_logout"></span>Signout</a></li>
	<li></li> 
</ul>

<style>
.nav_icon_user{
}

</style>

	