
<div class="row">
	<div class="small-12 large-9 columns">
	<h4>My Contribution Activity</h4>
	<hr>
	<br>
  <div class="row">

  <div class="small-12 large-12 columns">
  <div class="panel entitynavbutton"> 
  <p>Added aricle to </a href="#">repo/algorithm/sequence sorting/bubble sort</a></p> 
  <span class="round alert label">Under Review</span>
  </div>
  </div>

  <div class="small-12 large-12 columns">
  <div class="panel entitynavbutton"> 
  <p>Added definition to </a href="#">repo/algorithm/sequence sorting/insertion sort</a></p> 
  <span class="round success label">Published</span>
  </div>
  </div>

  <div class="small-12 large-12 columns">
  <div class="panel entitynavbutton"> 
  <p>Added entity Kalman filter to repo/algorithm</p> 
  <span class="round success label">Published</span>
  </div>
  </div>

  <div class="small-12 large-12 columns">
  <div class="panel entitynavbutton"> 
  <p>Created entity Kalman filter in myspace</p> 
  <span class="round success label">Published</span>
  </div>
  </div>
  
      
  </div>

	</div>


</div>
