<div class="row">
		<h4>Knowledge Board</h4>
		<hr>
		<br>
		<br>
		<div class="small-12 large-9 columns">
  		<div class="small-12 large-12 columns">
			<div class="small panel radius" style="background-color:#fff;padding:0px;">
				<div class="small panel radius" style="background-color:#fff;border:1px solid #ddd;padding:0.8em;">
				<div>
				<span class="secondary label" style="float:right;">published by: Prateek Papriwal</span>
				<div style="font-family:BantoSans;font-size:0.9em;">Knapsack Problem</div>
				</div>
				<br>
	 			<span  class="radius secondary label">Description</span>
 				<span  class="radius secondary label">Algorithm</span>
 				<span  class="radius secondary label">Pseudocode</span>
 				<span  class="radius success label">Add Knowledge</span>
				</div>			
				<hr>
			</div>		
		</div>

		<div class="small-12 large-12 columns">
			<div class="small panel radius" style="background-color:#fff;padding:0px;">
				<div class="small panel radius" style="background-color:#fff;border:1px solid #ddd;padding:0.8em;">
				<div style="font-family:BantoSans;font-size:0.9em;">Ford-Fulkerson's algorithm</div>
				<br>
	 			<span  class="radius secondary label">Description</span>
 				<span  class="radius secondary label">Algorithm</span>
 				<span  class="radius secondary label">Pseudocode</span>
 				<span  class="radius success label">Add Knowledge</span>
				</div>			
				<hr>
			</div>		
		</div>
		</div>
</div>

