
<div class="row">
	<div class="small-12 columns">
		<br>
		<br>
		<br>
		<br>
		<br>
		<h4>Knowledge Board</h4>
		<hr>
		<br>
		<br>
		<br>
		<br>
		<div class="row">
  	<div class="small-12 large-9 columns">
			
			<div>
				<div>
				<div style="float:left;margin-right:4px;"><img src="" width="30px" height="30px"></div>
				<div style="font-family:BantoSans;"><span><b>Prateek Papriwal</b></span> <span style="color:#aaa;font-size:0.9em;">published an entity <b>My Quora Answers</b></span></div>
				</div>
				<br>
				<br>
				<div style="border:1px solid #d8d8d8;padding:10px;border-radius:3px;">
				<div style="margin-bottom:4px;font-weight:bold;margin-bottom:6px;font-family:BantoSans;">My Quora Answers</div>
				<div style="font-family:Banto	Sans;font-size:0.8em;color:#aaa;">This is an entity containing Best Quora answers</div>
				<br>
	 			<span  class="radius secondary label">What are best motivational quotes?</span>
 				<span  class="radius secondary label">What are the most useful linux commands?</span>
				</div>
				<br>				
				<hr>
			</div>
				<br>					
				<br>
			<div>
				<div>
				<div style="float:left;margin-right:4px;"><img src="" width="30px" height="30px"></div>
				<div style="font-family:BantoSans;"><span><b>Vinay Raj Choudhary</b></span> <span style="color:#aaa;font-size:0.9em;">published an entity <b>Volleyball Tactics</b></span></div>
				</div>
				<br>
				<br>
				<div style="border:1px solid #d8d8d8;padding:10px;border-radius:3px;">
				<div style="margin-bottom:4px;font-weight:bold;margin-bottom:6px;font-family:BantoSans;">Volleyball Tactics</div>
				<div style="font-family:Banto	Sans;font-size:0.8em;color:#aaa;">This is an entity containing best stuff on volleyball.</div>
				<br>
	 			<span  class="radius secondary label">Workout schedule</span>
 				<span  class="radius secondary label">Libro exercises</span>
				</div>
				<br>				
				<hr>
			</div>
			
			<br>
			<br>	

		
	
		</div>
		</div>
	</div>

</div>

