<div class="row" id = "rowcss">
  <div class="small-12 columns">
  <h4>Lists</h4>
  <hr>
  <br>
  
  <div class="row">

  <div class="small-12 large-6 columns">
  <div class="small panel callout radius"> 
  <h5>Must Know algorithms</h5> 
  <span class="label">71 entities</span>
  </div>
  </div>

  <div class="small-12 large-6 columns">
  <div class="small panel callout radius"> 
  <h5>Awesome OS Concepts</h5> 
  <span class="label">71 entities</span>
  </div>
  </div>


  </div>
  </div>
</div>

