<div class="row" id = "rowcss">
  <div class="small-12 columns">
  <h4>Lists</h4>
  <hr>
  <br>
  
  <div class="row">
 
 {{#each model.lists}}
  <div class="small-12 large-6 columns">
	  {{#link-to 'list' name}}
    <div class="small panel radius"> 
	  <div style="font-family:Georgia;font-size:1.2em;color:#666;font-weight:bold;margin-bottom:10px;">{{name}}</div>  
	  <span class="label">{{entities_count}} entities</span>
	  <span style="float:right;font-family:BantoSans;font-size:0.8em;color:#888">By : {{creator}}</span>
    </div>
     {{/link-to}}
  </div>
  {{/each}}

  </br>
  </div style="padding:10%;">
  {{listcreate-container currentUser = currentUser }}
  </div>

</div>

