<div class="row" id = "rowcss">
  <div class="small-12 columns">
  <h4>Lists</h4>
  <hr>
  <br>
  
  <div class="row">
 
 {{#each controller.lists}}
  <div class="small-12 large-6 columns">
	 {{#view App.ListsPanelView}}
	  <div class="small panel callout radius"> 
	  <h5>{{name}}</h5>  
	  <span class="label">{{entities_count}} entities</span>{{!creator}}
	  </div>
     {{/view}}
  </div>
  {{/each}}
 

  </div>
  </div>
</div>

