<div class="row" id = "rowcss">
  <div class="small-12 columns">
  <h4>Lists</h4>
  <hr>
  <br>
  
  <div class="row">
 
 {{#each model.lists}}
  <div class="small-12 large-6 columns">
	  {{#link-to 'list' name}}
    <div class="small panel radius"> 
	  <div style="font-family:Georgia;font-size:1.0em;margin-bottom:10px;color:#666;">{{name}}</div>  
	  <span class="label">{{entities_count}} entities</span>
	  <span class="secondary label" style="background-color:#d8d8d8;color:#fff;">by: {{creator}}</span>
    </div>
     {{/link-to}}
  </div>
  {{/each}}

  </br>
  </div style="padding:10%;">
  {{listcreate-container currentUser = currentUser action="newList"}}
  </div>

</div>

