<div class="row" id = "rowcss">
  <div class="small-12 columns">
  <h4>Repositories</h3>
  <hr>
  <br>
  <div class="row">
  <div class="small-12 large-6 columns">
  <a href="/#/repo/algorithms">
  	<div class="small panel radius"> 
  		<h5>Algorithm</h5> 
  		<p>This is a huge collection of algorithms. It contains articles, videos, definition, pseudocode and many other things.
  		</p> 
  		<span class="label">445 entities</span>
  		<span class="success label">2045 duples</span>
  	</div>
  </a>
  </div>

  <div class="small-12 large-6 columns">
  <div class="small panel radius"> 
  <h5>Operating System</h5> 
  <p>It contains numerous concepts related to Operating system. It contains articles, videos, lectures, definitions etc.  </p> 
  <span class="label">101 entities</span>
  <span class="success label">985 duples</span>
  </div>
  </div>
  
  <div class="small-12 large-6 columns end">
  <div class="small panel radius"> 
  <h5>Operating System</h5> 
  <p>It contains numerous concepts related to Operating system. It contains articles, videos, lectures, definitions etc.
  </p> 
  <span class="label">101 entities</span>
  <span class="success label">985 duples</span>
  </div>
  </div>


  </div>
  </div>
</div>
