<div class="row" id = "rowcss">
  <div class="small-12 columns">
  <h4>Repositories</h3>
  <hr>
  <br>
  <div class="row">
  {{#each}}
  <div class="small-12 large-6 columns">
  {{#link-to 'repo' url}}
  	<div class="small panel radius"> 
  		<h5>{{name}}</h5> 
  	  <p>{{description}}</p> 
  		<span class="label">{{e_count}} entities</span>
  		<span class="success label">{{d_count}} knowledge items</span>
  	</div>
  {{/link-to}}
  </div>
  {{/each}}
    </div>
  </div>
</div>
